@model List<Product>

<h1>Список товаров</h1>
<ul>
    @foreach (var product in Model)
    {
        <li>
            <a asp-controller="Product" asp-action="Details" asp-route-id="@product.Id">
                @product.Name - @product.Price $
            </a>
        </li>
    }
</ul>